*{
  margin: 0;
  padding: 0;
  ;font-family: sans-serif;
}

body{
  background-color: #ccfcf1;
}

.he2{
  color: red;
  font-size: 26px;
  font-weight: 600;
}

.section{
  background-color: #000;
  transition: ease 0.4s;
}

.col{
  padding: 10px 30px 10px 30px;
}

.compName{
  color: white;
  text-decoration: none;
  transition: ease 0.4s;
}

a:hover{
  color: black;
}

a:hover .compName{
  color: red;
}

@media screen and (max-width:768px ){
  .col{
    padding: 10px 160px 10px 160px;
  }
}

@media screen and (max-width: 460px){
  .col{
    padding: 0;
  }
}